html {
  background-color: white;
  font-family: Helvetica;
  font-size: 18px;
}

.flex-container {
  width: 960px;
  margin: 0 auto;
}

.company-header {
  background-color: black;
  color: white;
}

.logo-and-description {
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 0.5rem;
}

.logo-and-description img {
  height: 1.5rem;
}

.logo-and-description span {
  font-family: Helvetica;
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

.company-banner {
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.company-headline {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 3rem;
  position: relative;
  top: 10em;
  width: 20rem;
}

.company-headline h4 {
  font-size: 1rem;
}

.company-headline h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-picture {
  align-items: center;
  border: 4px solid black;
  display: flex;
  height: 9rem;
  justify-content: center;
  padding: 2rem 0;
}

.product-picture img {
  max-width: 8rem;
}

.product span {
  background-color: black;
  color: white;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
}

.company-information {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.information {
  width: 35%;
}

.info-heading {
  background-color: black;
  color: white;
  display: block;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 5em 0;
}
